.app-wrap .delete {
  position: absolute;
  top: 12px;
  right: 12px;
  z-index: 1;
}

.app-full-select-field {
  display: flex;
  width: 100%;
}

.app-full-select-field > .control:first-child,
.app-full-select-field > .control:first-child .select,
.app-full-select-field > .control:first-child select {
  flex: 1;
  width: 100%;
}
